<div class="container mt-4">
    <div class="row">
        <h1>Location: {{location.name}}</h1>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="{{location.photoUrl}}">
                <div class="card-body">
                    <div>
                        <strong>Address:</strong>
                        <p>{{location.address}}</p>
                    </div>
                    <div>
                        <strong>Public Id:</strong>
                        <p><button class="copy-to-clipboard-btn mr-2" ngxClipboard [cbContent]="location.publicId"><i class="fa fa-clipboard"></i></button>{{location.publicId}}</p>
                    </div>
                    <div>
                        <strong>Secret Key:</strong>
                        <p><button class="copy-to-clipboard-btn mr-2" ngxClipboard [cbContent]="location.secretKey"><i class="fa fa-clipboard"></i></button>{{location.secretKey}}</p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary w-100" (click)="deleteLocation()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="tab-panel">
                <tabset class="member-tabset">
                    <tab heading="Live Data">
                        <div class="flex-item">
                            <div style="display: block;">
                                <canvas 
                                    baseChart height="200"
                                    [datasets]="lineChartData"
                                    [labels]="lineChartLabels"
                                    [options]="lineChartOptions"
                                    [colors]="lineChartColors"
                                    [legend]="false"
                                    [chartType]="'line'"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>